/* Update styles for the dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to bottom right, #f1f1f1, #cccccc);
    min-width: 220px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 20;
    top: 100%; /* Position below the menu item */
    left: 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  